.element__title {
  margin: 0;
  max-width: 185px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1279px) and (min-width: 957px) {
  .element__title {
    font-size: calc(18px + (24 - 18)*((100vw - 957px)/(1279 - 957)));
    max-width: 150px;
  }
}
