.profile {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile {
      width: 88.125%;
      flex-direction: column;
  }
}
