.profile__profile-about {
  margin: 0;
  width: 336px;
  display: block;
  margin-top: 8px;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__profile-about {
    width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
